[db-server]
type=server
address=mysql
port=3306
protocol=MySQLBackend

[Masking]
type=filter
module=masking
rules=/etc/maxscale.cnf.d/masking_rules.json

[Masking-Service]
type=service
router=readconnroute
servers=db-server
user=maxuser
password=maxpwd
filters=Masking

[Masking-Listener]
type=listener
service=Masking-Service
protocol=MySQLClient
port=4008
